body {
  margin: 0;
  padding-top: 65px; /* для navbar */
  background-color: #f5f8ff; /* светлый фон */
  color: #2c3e50; /* тёмный текст */
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}

/* Ссылки */
a {
  color: #4a6fa5;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #2c3e50;
  text-decoration: underline;
}
